<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2e7d9">  <td>19/01/01 23:12:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MicroSoftEdgeBrowserTestNG.launchBrowser()[pri:0, instance:com.sbk.test.MicroSoftEdgeBrowserTestNG@14acaea5]">launchBrowser</td> 
  <td>main@701141022</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>19/01/01 23:12:37</td>   <td>20634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MicroSoftEdgeBrowserTestNG.openEdgeBrowser()[pri:0, instance:com.sbk.test.MicroSoftEdgeBrowserTestNG@14acaea5]">openEdgeBrowser</td> 
  <td>main@701141022</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>19/01/01 23:12:37</td>   <td>20650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MicroSoftEdgeBrowserTestNG.closeDriver()[pri:0, instance:com.sbk.test.MicroSoftEdgeBrowserTestNG@14acaea5]">closeDriver</td> 
  <td>main@701141022</td>   <td></td> </tr>
</table>
